@model ENEKweb.Models.LeiunurkIndexModel
@{
    ViewData["Title"] = "LEIUNURK";
    // index counter for different IDs (for bootstraps carousel controls)
    int position = 0;
    int dataNumber = 0;
    // is it the first image iterated over? for bootstrap carousel active class that has to be on at least one slide
    bool firstImg = true;
}

<div class="container text-center" id="leftoversContainer">
    <h2 class="text-title">@ViewData["Title"]</h2>
    <div class="row">
        @foreach (var item in Model.LeiunurkItems) {
            <div class="col-md-4">
                <div class="mein-card">
                    @if (item.Images.Any()) {
                        <div class="mein-card-img">
                            <img src="~/images/uploaded/leiunurk/@item.Images.First().ImageFileName" alt="item_head_pic" />
                        </div>
                        <div class="mein-card-gallery">

                            <div class="row h-100">
                                <div id="@($"galleryCarousel{position}")" class="carousel slide h-100" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner h-100" role="listbox">
                                        @foreach (var itemImage in item.Images) {
                                            if (firstImg) {
                                                <div class="carousel-item h-100 justify-content-center active">
                                                    <img class="d-block col-3" src="~/images/uploaded/leiunurk/@itemImage.ImageFileName" alt="item_pic">
                                                </div>
                                            }
                                            else {
                                                <div class="carousel-item h-100 justify-content-center">
                                                    <img class="d-block col-3 " src="~/images/uploaded/leiunurk/@itemImage.ImageFileName" alt="item_pic">
                                                </div>
                                            }

                                            firstImg = false;
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="@($"#galleryCarousel{position}")" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="@($"#galleryCarousel{position}")" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        position++;
                        firstImg = true;
                    }
                    <div class="mein-card-title">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="mein-card-body">
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }

        @*<div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/uploaded/leiunurk/i5eegvpl.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/logo/partners/gun_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/logo/partners/saksa_hobused_logo.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/logo/partners/truck_driver_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>*@
    </div>
</div>
