@model ENEKweb.Models.LeiunurkIndexModel
@{
    ViewData["Title"] = "LEIUNURK";
    // index counter for different IDs (for bootstraps carousel controls)
    int position = 0;
    // is it the first image iterated over? for bootstrap carousel active class that has to be on at least one slide
    bool firstImg = true;
}

<section class="jumbotron leiunurk-jumbotron text-center">
    <div class="container">
        <h2 class="text-title jumbotron-heading">@ViewData["Title"]</h2>
        <p class="lead text-muted">
           Erinevaid asju ära andmiseks, huvi korral
        </p>
        <p>
            <a href="mailto:enek@enek.ee?Subject=Soov%20osta%20Leiunurgast" target="_blank" class="leiunurk-color-button btn my-2">võta ühendust</a>
        </p>
    </div>
</section>
<div class="container" id="leftoversContainer">
    <div class="row">
        @if (Model.LeiunurkItemsViewList != null && Model.LeiunurkItemsViewList.Any()) {
            @foreach (var item in Model.LeiunurkItemsViewList) {
                <div class="col-md-4">
                    <div class="card card-leiunurk mb-4 shadow-sm">
                        @if (item.Images.Any()) {
                            <div class="card-images">
                                @foreach (var itemImage in item.Images) {
                                    if (firstImg) {
                                        <div class="card-image active">
                                            <img class="@($"imgSlide{position}")" src="~/images/uploaded/leiunurk/@itemImage.ImageFileName">
                                        </div>
                                    }
                                    else {
                                        <div class="card-image">
                                            <img class="@($"imgSlide{position}")" src="~/images/uploaded/leiunurk/@itemImage.ImageFileName">
                                        </div>
                                    }

                                    firstImg = false;
                                }

                                @if (item.Images.Count() > 1) {
                                    <a class="img-prev">
                                        <i class="fas fa-chevron-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="img-next">
                                        <i class="fas fa-chevron-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                }

                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                            </div>
                            position++;
                            firstImg = true;
                        }
                        else {
                            <div class="card-body justify-content-center align-items-center">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                            </div>
                        }
                        @if (item.Price > 0) {
                            <div class="card-footer text-muted bg-transparent border-0">Hind: @item.Price€</div>
                        }
                    </div>
                </div>
            }
        }
        else {
            <div class="col-md-12">
                <h3 class="text-info text-muted text-center">Hetkel ei ole ühtegi toodet veel lisatud.</h3>
            </div>
        }
    </div>
</div>
