@model ENEKweb.Models.PartneridIndexModel
@{
    ViewData["Title"] = "PARTNERID";
}

<div class="container text-center">
    <h2 class="text-title">@ViewData["Title"]</h2>
    <div class="row">

        @foreach (var partner in Model.PartneridViewList) {

            <div class="col-md-4">
                <div class="card card-partnerid">

                    @if (partner.Image != null) {
                        <div class="justify-content-center align-items-center" style="height:400px;">
                            <div class="mein-card-img">
                                <img src="~/images/uploaded/partnerid/@partner.Image.ImageFileName" alt="partner_logo" />
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">@partner.Name</h5>
                                @if (partner.Description != null) {
                                    <p class="card-text">@partner.Description</p>
                                }
                            </div>
                        </div>
                    }
                    else {
                        <div class="justify-content-center align-items-center" style="height:400px;display:flex;">
                            <div class="card-body">
                                <h5 class="card-title">@partner.Name</h5>
                                @if (partner.Description != null) {
                                    <p class="card-text">@partner.Description</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>