@model ENEKweb.Models.TehtudToodIndexModel
@{
    ViewData["Title"] = "TEHTUD TÖÖD";
    // index counter for different IDs (for bootstraps carousel controls)
    int position = 0;
    // is it the first image iterated over? for bootstrap carousel active class that has to be on at least one slide
    bool firstImg = true;
}

<section class="jumbotron leiunurk-jumbotron text-center">
    <div class="container">
        <h2 class="text-title jumbotron-heading">@ViewData["Title"]</h2>
        <p class="lead text-muted">
            Meie poolt täide viidud objektid.
        </p>
    </div>
</section>

<div class="container">
    <div class="row">

        @foreach (var tehtudToodYears in Model.TehtudToodYears) {
            <div class="tehtudtood-title-year">
                <a href="#@tehtudToodYears">@tehtudToodYears</a>
                @foreach (var tehtudToo in Model.TehtudToodViewList) {
                    if (tehtudToodYears != tehtudToo.YearDone) {
                        continue;
                    }
                    <div class="col-md-12 mb-5">
                        <div class="card card-tehtudtood shadow-sm">
                            @if (tehtudToo.Images != null && tehtudToo.Images.Any()) {
                                <div class="card-images">
                                    @foreach (var image in tehtudToo.Images) {

                                        if (firstImg) {
                                            <div class="card-image active"><img class="@($"imgSlide{position}")" src="~/images/uploaded/tehtudtood/@image.ImageFileName"></div>
                                            firstImg = false;
                                        }
                                        else {
                                            <div class="card-image"><img class="@($"imgSlide{position}")" src="~/images/uploaded/tehtudtood/@image.ImageFileName"></div>
                                        }
                                    }

                                    @if (tehtudToo.Images.Count() > 1) {
                                        <a class="img-prev">
                                            <i class="fas fa-chevron-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="img-next">
                                            <i class="fas fa-chevron-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    }
                                    <div class="card-body">
                                        <p class="card-title text-left">@tehtudToo.Name</p>
                                        <p class="card-text text-left">@tehtudToo.BuildingType</p>
                                    </div>
                                </div>
                                position++;
                                firstImg = true;
                            }
                            else {
                                <div class="card-body text-center">
                                    <p class="card-title">@tehtudToo.Name</p>
                                    <p class="card-text">@tehtudToo.BuildingType</p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>