@model IEnumerable<ENEKweb.Areas.Admin.Models.Manage.UserModel>
@{
    ViewData["Title"] = "List Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("_StatusMessagePartial", TempData["StatusMessage"])
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" asp-action="Create">Create New User</a>
            </p>
            <div class="table-responsive-md">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model) {
                            <tr class="admin-table-tr">
                                <td>
                                    @Html.DisplayFor(modelItem => user.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                                </td>
                                <td>
                                    <div class="btn-group-sm" role="group" aria-label="Item manipulate options">
                                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                                        <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-secondary">Details</a>
                                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

