@model ENEKweb.Areas.Admin.Models.Identity.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-4 ">
                <h3><a asp-area="" asp-controller="Home" asp-action="Index">Tagasi Kodulehele</a></h3>
                <section>
                    <form method="post">
                        <h2>@ViewData["Title"]</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Password"></label>
                            <input asp-for="@Model.Password" class="form-control" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="@Model.RememberMe">
                                    <input asp-for="@Model.RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-controller="Identity" asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
